@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #4a90f8;
  --color-base-100: #282828;
  --color-base-200: #181818;
}

.font-marker {
  font-family: "Permanent Marker", cursive;
}

.heading-effect {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.heading-effect::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 100%;
  height: 0.3em;
  background-color: var(--color-primary);
  z-index: -1;
  transform: skew(-10deg);
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.14);
}
